@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Inter:wght@400;500;600;700&display=swap');
@import url('./resetCss.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Inter', sans-serif;
	@apply bg-accentColor text-white;
}

.active {
	border-bottom: 1px solid white;
}

.toolbar-active {
	display: flex;
	justify-content: center;
	position: relative;
}

.toolbar-active::after {
	content: '';
	position: absolute;
	bottom: -9px;
	width: 30px;
	height: 2px;
	margin-inline: auto;
	border-radius: 2px;
	background-color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	display: none;
}
